* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #F6F8F9;
}

header {
    background-color: white;
    height: 70px;
    padding-left: 20px;
    padding-top: 10px;
}

.logo {
    vertical-align: middle;
}

.title {
    display: inline-block;
}

.navbar {
    background-color: white;
    height: 70px;
    margin-top: 50px;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 1%;
    padding-left: 2%;
}

.new-task {
    background-color: white;
    margin-top: 5px;
    margin-right: 15%;
    margin-left: 15%;
}

.today {
    background-color: white;
    margin-right: 15%;
    margin-left: 15%;
}

.upcoming {
    background-color: white;
    margin-right: 15%;
    margin-left: 15%;
}

