* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F8F9;
}

.logo {
    background-color: white;
    height: 100px;
}

h1 {
    display: inline-block;
}

main {
    background-color: white;
    height: 500px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}